@import "tailwindcss";

:root {
  --background: #f8f4e1;
  --point: #ddeb9d;
  --font: #1a120b;
  --point2: #a0c878;
  --white: #fffdf6;
  --grey: #b4b4b8;
}

@theme {
  --font-concon: var(--font-concon);
  --font-eulyoo: var(--font-eulyoo);
  --font-partial: var(--font-partial);
  --font-pretendard: var(--font-pretendard);
  --color-background: var(--background);
  --color-point: var(--point);
  --color-point2: var(--point2);
  --color-font: var(--font);
  --color-white: var(--white);
  --color-grey: var(--grey);
}

html {
  @apply bg-[var(--background)] text-[var(--font)] transition-colors duration-300;
}
html.dark {
  @apply bg-gray-800 text-white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer {
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
  }

  @keyframes float-sm {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-4px);
    }
  }

  @keyframes float-lg {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-12px);
    }
  }

  .float {
    animation: float 2s ease-in-out infinite;
  }

  .float-sm {
    animation: float-sm 2.5s ease-in-out infinite;
  }

  .float-lg {
    animation: float-lg 4s ease-in-out infinite;
  }

  .custom-badge {
    font-size: 0.75rem;
    background-color: var(--point2);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    color: #1f2937;
    font-weight: 500;
  }

  .li-with-hand {
    position: relative;
    padding-left: 1.5rem;
  }

  .li-with-hand::before {
    content: "";
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;
    background-image: url("/pointing-hand.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0.05rem;
    left: 0;
  }
}

.utterances {
  max-width: 100% !important;
  margin-top: 2rem;
  position: static !important;
}
