@import "tailwindcss";

:root {
  --background: #ede8dc;
  --point: #e7cccc;
  --font: #1a120b;
  --point2: #a5b68d;
  --white: #fffdf6;
  --grey: #b4b4b8;
  --dark-background: #040d12;
  --dark-point: #5c8374;
  --dark-point2: #183d3d;
  --dark-point3: #93b1a6;
}

@theme {
  --font-concon: var(--font-concon);
  --font-partial: var(--font-partial);
  --font-pretendard: var(--font-pretendard);
  --color-background: var(--background);
  --color-point: var(--point);
  --color-point2: var(--point2);
  --color-font: var(--font);
  --color-white: var(--white);
  --color-grey: var(--grey);
  --color-dark-background: var(--dark-background);
  --color-dark-point: var(--dark-point);
  --color-dark-point2: var(--dark-point2);
  --color-dark-point3: var(--dark-point3);
}

html {
  @apply bg-[var(--background)] text-[var(--font)] transition-colors duration-300;
}
html.dark {
  @apply bg-dark-background text-white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer {
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
  }

  @keyframes float-sm {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-4px);
    }
  }

  @keyframes float-lg {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-12px);
    }
  }

  .float {
    animation: float 2s ease-in-out infinite;
  }

  .float-sm {
    animation: float-sm 2.5s ease-in-out infinite;
  }

  .float-lg {
    animation: float-lg 4s ease-in-out infinite;
  }

  .li-with-hand {
    position: relative;
    padding-left: 1.5rem;
  }

  .li-with-hand::before {
    content: "";
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.5rem;
    background-image: url("/icon/heart.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0.3rem;
    left: 0;
  }
}

.utterances {
  max-width: 100% !important;
  margin-top: 2rem;
  position: static !important;
}
